.dropdown-item {
  color: #ffc107; !important
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #ffc107; !important
    color: #343a40;
}
#exercices a:hover {
  color: #ffc107;
  cursor: pointer
}
#bd {
  font-size: 3rem;
}
@media screen and (min-width: 768px) {
  #bd {
    font-size: 8rem;
  }
}
@media screen and (min-width: 1200px) {
  #bd {
    font-size: 12rem;
  }
}
